body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 20px;
    margin-left: 150px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

#resultado.erro {
    color: red;
}

.produtos {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.parceria {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 475px;
    height: 400px;
    float: left;
    color: #000;
    background-color: aqua;
}

.parceria:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.produtosdiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 700px;
    float: left;
}

.Valorprod {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 400px;
    float: left;
    background-color: red;
}